@import '../../node_modules/normalize.css/normalize';
@import '../../node_modules/slick-carousel/slick/slick';
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Montserrat&display=swap');

@mixin bg-init {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@mixin border-reset {
    border: none;
    outline: none;
}

$montserrat: 'Montserrat', sans-serif;
$dmserif: 'DM Serif Display', serif;
$white: #FFF;
$orange: #FFB100;
$blue: #000636;
$radius: 8px;

body {
    font-family: $montserrat;
    font-size: 16px;
}

.container {
    margin: 0 auto;

    &.small {
        max-width: 1070px;
    }
    &.medium {
        max-width: 1331px;
    }
    &.large {
        max-width: 1560px;
    }
}

h2,
h3,
h4 {
    color: $blue;
}

h4 {
    font-size: 24px;
    line-height: 24px;
    margin-top: 32px;
    margin-bottom: 8px;
}

p {
    font-size: 14px;
    line-height: 20px;
}

a {
    color: $white;
    text-decoration: none;
}

header {
    position: absolute; 
    left: 50%;
    transform: translateX(-50%); 
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    nav {
        margin: 33px 0;
    }
}

footer {
    background: $blue;
    margin: 0 auto;
    width: 100%;

    nav {
        padding: 33px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
}

header,
footer .container {
    max-width: 1563px;

    nav {
        display: flex;
        justify-content: space-between;

        .nav-wrapper {
            a {
                position: relative;
                color: $white;
                text-decoration: none;
                margin-right: 34px;

                &:last-child {
                    margin-right: 0;
                }

                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 0;
                    border-bottom: 1px solid orange;
                    left: 0;
                    top: calc(33px + 22px);
                    opacity: 0;
                    transition: all linear 0.5s;
                }
                &:hover {
                    &:after {
                        opacity: 1;
                        width: 100%;
                    }
                }
            }
        }

    }
}

.short-divider {
    width: 118px;
    height: 1px;
    background: $white;
}

.long-divider {
    width: 100%;
    height: 1px;
    background: rgba(0,0,0,0.1);
    margin-bottom: 32px;
}

.heading-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h1,h2 {
        font-family: $dmserif;
        font-size: 80px;
        line-height: 96px;
        margin: 0;
    }

    .short-divider {
        margin: 15px 0;
    }

    p {
        font-family: $montserrat;
        font-size: 16px;
        margin-top: 0;
    }
}
#booking {
    background-repeat: no-repeat;
    height: 744px;
    margin: auto 0;
    background-image: linear-gradient(to right, rgba(0,0,0,0.45), rgba(0,0,0,0.35)),
    url(../images/hero.jpg);
    background-position: 10% 70%;

    .heading-wrapper {
        color: $white;

        p {
            margin-bottom: 56px;
        }
    }
}

form {
    display: flex;
    align-items: end;
    margin: 0 auto;
    padding: 32px;
    background: transparent;
    backdrop-filter: blur(36px);
    border-radius: 16px;

    input, select {
        width: 239px;
        height: 56px;
        border-radius: $radius;
        padding: 16px;
        @include border-reset();
    }


    select,
    input[type="date"] {
        appearance: none;
        -webkit-appearance: none;
        background-image: url(../images/arrow-down.svg);
        background-repeat: no-repeat;
        background-position: calc(100% - 15px);
        background-size: 15px;
    }

    input[type="date"]::-webkit-inner-spin-button,
    input[type="date"]::-webkit-calendar-picker-indicator {
        display: none;
    }

    input[type="submit"] {
        height: 83px;
        background: $orange;
        color: $white;
        font-size: 18px;
        font-weight: bold;
    }

    .input-wrapper {
        display: inline-block;
        width: 239px;
        margin: 0 8px;

        label {
            display: block;
            margin-bottom: 8px;
            color: $white;
            font-size: 14px;
        }
    }
}

.h-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top-wrapper {
    h3 {
        display: inline-block;
        font-family: $dmserif;
        font-size: 32px;
        margin-top: 0;
        margin-bottom: calc(23px - 10px);
        line-height: 56px;
    } 

    .button-wrapper {
        position: absolute;
        display: inline-block;
        left: 50%;
        transform: translateX(-50%);

        button {
            width: 239px;
            height: 56px;
            background: rgba(0,6,54,0.1);
            border-radius: $radius;
            @include border-reset();

            &.active {
                color: $white;
                background: $orange;
            }
        }
    }
}

#last-first-minute {
    margin-top: 147px;
}

#why-us {
    margin-top: 181px;
}

#gallery {
    margin-top: 250px;
}

#testimonials,
#video {
    margin-top: 163px;
}

#faq {
    position: relative;
    margin-top: -395px;
    padding-bottom: 160px;
    padding-top: 81px;
    background-image: url(../images/ship-side.png);
    background-repeat: no-repeat;
    background-position: 99% 65px;
    background-size: contain;

    &::after {
        position: absolute;
        right: 0;
        content: '';
        background-image: url(../images/ship-side-bg.png);
        background-repeat: no-repeat;
        background-position: 100% 65px;
        background-size: contain;
        bottom: -200px;
        right: -450px;
        overflow: hidden;
        height: 650px;
        width: 1009px;
        z-index: -1;
    }
}

.destination-wrapper {
    display: flex;
    justify-content: space-between;

    .destination {
        width: 309px;

        p {
            color: $blue;
            margin-bottom: 27px;
        }

        a {
            color: $orange;
            text-decoration: none;
        }

        img {
            max-width: 100%;
            height: 549px;
            object-fit: cover;
        }

        .long-divider {
            margin-top: 17px;
        }
    }
}

.testimonials-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 -30px;

    .testimonial {
        margin: 0 30px;
        .header {
            @include bg-init();
            position: relative;
            height: 309px;
    
            img {
                position: absolute;
                bottom: -16px;
                left: 32px;
                width: 98px;
                height: 98px;
                border-radius: 100%;
                object-fit: cover;
            }
        }
    
        .content {
            padding: 0 32px;
        }
    }
}

#video {
    .video-wrapper {
        position: relative;

        &:after {
            content: '';
            position: absolute;
            background: linear-gradient(to right, rgba(0,0,0,0.45), rgba(0,0,0,0.35));
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
        }

        video {
            max-width: 100%;
            height: 878px;
            object-fit: cover;
        }

        .control {
            z-index: 1;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 136px;
            height: 136px;
            border: 1px solid $white;
            border-radius: 100%;

            @include bg-init();
            background-size: 100%;
            background-image: url(../images/pause.svg);

            &.paused {
                background-image: url(../images/play.svg);
                background-size: 50%;
            }
        }
    }
}

.ship-wrapper {
    background-image: url(../images/islands-bg.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.ship {
    background-image: url(../images/boat.png);
    height: 1445px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 1100px;
    margin: 0 auto;
}

.slick-control-wrapper {
    display: flex;
    justify-content: end;
    margin-top: 26px;

    .slick-prev,
    .slick-next {
        width: 48px;
        height: 48px;
        border-radius: 100%;
    }

    .slick-prev {
        border: 1px solid #D9D9E0;
        background: none;

        svg {
            fill: $orange;
        }
    }

    .slick-next {
        border: none;
        background: $orange;
        margin-left: 8px;

        svg {
            fill: $white;
        }
    }
}

#gallery {
    position: relative;

    .absolute-header {
        position: absolute;
        top: -188px;
        left: 50%;
        transform: translateX(-50%);
        
        h2 {
            font-family: $dmserif;
            font-size: 225px;
            margin: 0;
        }
    }
    #gallery-slider {
        img {
            object-fit: cover;
            margin: 0 16px;
        }
        img:nth-child(3n) {
            height: 549px;
        }
        img:nth-child(3n + 1) {
            height: 351px;
        }
        img:nth-child(3n + 2) {
            height: 455px;
        }
    }    
}


.accordion-wrapper {
    margin-top: 130px;

    .accordion {
        list-style-type: none;
        margin: 0;
        
        li {
            position: relative;
            border-color: $blue;
            border-bottom-style: solid;
            border-bottom-width: 1px;
            padding: 64px 0;
            color: $blue;
            
            &:first-child {
                border-top-width: 1px;
                border-top-style: solid;
            }
    
            .acc_head {
                font-size: 24px;
                cursor: pointer;
    
                &::after {
                    content: '';
                    width: 25px;
                    height: 15px;
                    position: absolute;
                    right: 0;
                    @include bg-init();
                    background-image: url(../images/arrow-down.svg);
                }
            }
            .acc_content {
                font-size: 14px;
    
                p {
                    margin-top: 32px;
                    margin-bottom: 0px;
                }
            }
        }
    
        .acc_active {           
            .acc_head {
                &::after {
                    width: 15px;
                    height: 25px;
                    background-image: url(../images/arrow-left.svg);
                }
            }
        }
    }
}


footer {
    #absolute-footer {
        margin-top: 64px;
        padding-bottom: 50px;
        span {
            color: $white;
        }
    }
}

.bg-section-first {
    background-color: rgba(0,6,54,0.1);
    margin-top: -439px;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
    height: 900px;
}



